<body class="login-sec">



    <section>
        <div class="container reg-from">

            <div class="card login-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center top-login-logo">
                            <img src="./images/logo-fresh-history 3 1.png" alt="">
                        </div>
                        <div class="col-12 mt-5">
                            <h5 class="mt-5">Forget password</h5>
                            <p class="text-muted">Please enter your email address or Mobile number so that we can send you an OTP to reset your password.</p>
                        </div>
                    </div>

                    <form>
                        <div class="mb-3 mt-4">
                            <label for="exampleInputEmail1" class="form-label">Email ID/Mobile Number</label>
                            <input placeholder="eg. harryjohnson@yopmail.com" type="email" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">

                        </div>
                        <a href="./otp.html" type="submit" class="btn btn-primary w-100 login-btn">Submit</a>
                        <br>
                        <p class="text-center mt-3 mb-3">Back to   <a routerLink="register">Sign up</a></p>
                    </form>

                </div>
            </div>

        </div>

    </section>

    <!-- ================ SECTION INTRO END.// ================ -->

    <a href="#" class="float" target="_blank">
       
        <i class='bx bx-donate-heart  my-float' ></i>
        </a>

    <!-- Bootstrap js -->
    

    <!-- Vendors JS -->

    <!-- Main JS -->

</body>
<router-outlet></router-outlet>