
<!-- ================ SECTION INTRO ================ -->
<section class="section-intro  padding-y-lg">
	<div class="container">

	  <article class="my-5 text-center banner">
	    <h1 class="display-4 text-white"> Personalize Ebook Reader For You!  </h1>
	    <p class="lead text-white mt-4 ">Welcome to Freshhistory free ebook library. We have more than 50,000 free ebooks waiting to be discovered.</p>
	   
	  </article>

	</div> <!-- container end.// -->
</section>
<!-- ================ SECTION INTRO END.// ================ -->

<!-- ================ SECTION PRODUCTS ================ -->
<section class="padding-y">
<div class="container">

	<header class="section-heading mb-5">
		<h1 class="section-title">Book's</h1>
	</header> 

	<div class="row p-4">
		<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
			<figure class="card card-product-grid b-0">
				<div class="img-wrap"> <a href="book-view.html"> 
					<img src="assets/images/image 10-3.png">
					</a> 
				</div>
				<figcaption class="info-wrap border-top book-card">
					<div class="price-wrap new-price">
					<h3>The Roman Empire and the Silk Routes</h3>
					</div> <!-- price-wrap.// -->
					<p class="title mb-3 mt-3">Floyd Miles</p>
					<div class="gallery">
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					  </div>
					
					
				</figcaption>
			</figure>
		</div> <!-- col end.// -->
		<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
			<figure class="card card-product-grid b-0">
				<div class="img-wrap"> <a href="book-view.html"> 
					<img src="assets/images/image 10-1.png">
					</a> 
				</div>
				<figcaption class="info-wrap border-top book-card">
					<div class="price-wrap new-price">
					<h3>The Roman Empire and the Silk Routes</h3>
					</div> <!-- price-wrap.// -->
					<p class="title mb-3 mt-3">Floyd Miles</p>
					<div class="gallery">
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					  </div>
					
					
				</figcaption>
			</figure>
		</div> <!-- col end.// -->
		<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
			<figure class="card card-product-grid b-0">
				<div class="img-wrap"> <a href="book-view.html"> 
					<img src="assets/images/image 10-2.png">
					</a> 
				</div>
				<figcaption class="info-wrap border-top book-card">
					<div class="price-wrap new-price">
					<h3>The Roman Empire and the Silk Routes</h3>
					</div> <!-- price-wrap.// -->
					<p class="title mb-3 mt-3">Floyd Miles</p>
					<div class="gallery">
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					  </div>
					
					
				</figcaption>
			</figure>
		</div> <!-- col end.// -->
		<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
			<figure class="card card-product-grid b-0">
				<div class="img-wrap"> <a href="book-view.html"> 
					<img src="assets/images/image 10-3.png">
					</a> 
				</div>
				<figcaption class="info-wrap border-top book-card">
					<div class="price-wrap new-price">
					<h3>The Roman Empire and the Silk Routes</h3>
					</div> <!-- price-wrap.// -->
					<p class="title mb-3 mt-3">Floyd Miles</p>
					<div class="gallery">
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					  </div>
					
					
				</figcaption>
			</figure>
		</div> <!-- col end.// -->
		<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
			<figure class="card card-product-grid b-0">
				<div class="img-wrap"> <a href="book-view.html"> 
					<img src="assets/images/image 10-4.png">
					</a> 
				</div>
				<figcaption class="info-wrap border-top book-card">
					<div class="price-wrap new-price">
					<h3>The Roman Empire and the Silk Routes</h3>
					</div> <!-- price-wrap.// -->
					<p class="title mb-3 mt-3">Floyd Miles</p>
					<div class="gallery">
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					  </div>
					
					
				</figcaption>
			</figure>
		</div> <!-- col end.// -->
		<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
			<figure class="card card-product-grid b-0">
				<div class="img-wrap"> <a href="book-view.html"> 
					<img src="assets/images/image 10 2.png">
					</a> 
				</div>
				<figcaption class="info-wrap border-top book-card">
					<div class="price-wrap new-price">
					<h3>The Roman Empire and the Silk Routes</h3>
					</div> <!-- price-wrap.// -->
					<p class="title mb-3 mt-3">Floyd Miles</p>
					<div class="gallery">
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					
						<div>
						  <img class="gallery__Image" src="assets/images/book-pages/image 14.png" alt="lorem" data-description="" data-large="./images/book-pages/image 14.png"> 
						</div>
					  </div>
					
					
				</figcaption>
			</figure>
		</div> <!-- col end.// -->


	</div> <!-- row end.// -->

</div> <!-- container end.// -->
</section>
<!-- ================ SECTION PRODUCTS END.// ================ -->

