<footer class="section-footer">
    <div class="container">
    
    
      <section class="footer-bottom d-flex justify-content-lg-between border-top">
        <div>
            <p class="text-white m-0">Copyright 2020 | Freshhistory.</p>
          
        </div>
        <nav class="dropup">
            <i class="text-white fab fa-facebook"></i>
            <i class=" text-white fab fa-instagram"></i>
            <i class="text-white fab fa-youtube"></i>
            
        </nav>
        
      </section>
    </div> <!-- container end.// -->
    </footer>
